.container {
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-bottom: 500px;
    color: aquamarine;
}

.centro {
    margin-top: 30px;
    margin-left: 620px;
    justify-content: center;
    align-items: center;
}

.eliminar {
    margin-left: 30px;
    padding: 15px;
    color: blueviolet;
   
}